file1
file2
file3




[A[A[A[C[C[C[C[C[A
[A[C[C[C[C[C
[A[C[C[C[C
[A[C[C[C[C[C
[A[C[C[C[C[C
[A[C[C[C[C[C
















[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[C[C[C[C[C		


[A[A[A[C[C[C[C[C

 
[B[A[A[A[A[C[C[C[C[C[B[B


[A[A[A[C[C[C[C[C